In [1]:
import pandas as pd
import sys
import calendar

In [2]:
data = [
    "2015-12-06 2011-12-27 2015-09-07 2012-12-21 2020-02-13 2015-06-09 2013-03-21 2012-09-22 2013-06-19 2016-03-05 2017-08-27 2012-06-24 2018-11-20 2018-05-24 2019-08-17 2018-08-22 2021-02-07 2016-09-01 2015-03-11 2011-06-30 2019-11-15 2016-11-30 2019-05-19 2012-03-26 2020-08-11 2014-09-12 2014-12-11 2013-12-16 2017-02-28 2011-04-01 2011-01-01 2017-11-25 2014-03-16 2014-06-14 2013-09-17 2020-05-13 2018-02-23 2019-02-18 2011-09-28 2016-06-03 2020-11-09 2017-05-29",
    "498 721 375 464 813 853 918 422 380 403 445 665 43 281 730 39 63 560 56 901 802 3 247 863 223 510 89 813 940 800 292 289 429 241 745 796 529 9 909 495 373 397",
    "22 45 1 65 22 17 12 51 37 40 36 58 0 53 33 13 39 53 18 46 68 30 37 56 3 63 40 18 40 25 36 12 39 8 32 69 21 43 10 9 31 56",
    "52 56 32 50 24 61 17 0 28 39 56 33 19 10 38 14 41 7 59 1 50 8 6 10 20 19 68 46 13 1 54 2 40 66 14 39 6 51 23 20 11 68",
    "63 37 68 62 43 42 56 36 50 7 20 21 44 55 10 4 18 24 27 67 59 56 17 56 45 66 21 10 27 39 64 32 8 3 1 8 1 50 33 19 6 41"
]

In [3]:
dates = data[0].split()
reg_ids = list(map(int, data[1].split()))
physics = list(map(int, data[2].split()))
chemistry = list(map(int, data[3].split()))
maths = list(map(int, data[4].split()))

In [4]:
df = pd.DataFrame({
    'Date': pd.to_datetime(dates),
    'RegID': reg_ids,
    'Physics': physics,
    'Chemistry': chemistry,
    'Mathematics': maths
})

In [5]:
df['Month'] = df['Date'].dt.month

In [6]:
month_counts = df['Month'].value_counts()
max_reg_count = month_counts.max()
candidates = month_counts[month_counts == max_reg_count].index
max_month = max(candidates) 
max_month_df = df[df['Month'] == max_month]
avg_physics = round(max_month_df['Physics'].mean(), 2)
avg_chemistry = round(max_month_df['Chemistry'].mean(), 2)
avg_maths = round(max_month_df['Mathematics'].mean(), 2)

In [7]:
month_abbr = calendar.month_abbr[max_month].upper()
print(month_abbr, max_reg_count, avg_physics, avg_chemistry, avg_maths)

SEP 6 35.0 15.83 38.0